.profile__edit-button {
    grid-area: profile__button-edit;
    margin-left: 17px;
    align-self: center;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    background-image: url('../../../images/profile/edit-button.png');
    background-repeat: no-repeat;
    background-position: center;
}


@media all and (max-width: 1279px) {
    .profile__edit-button {
        margin-left: 5px;
    }
}