.profile__about {
    grid-area: profile__about;
    margin: 9px 0 0 30px;
    padding: 0;
    min-width: 295px;
    line-height: 22px;
    font-size: 18px;
    color: #fff;
}

@media all and (max-width: 320px) {
    .profile__about {
        min-width: 280px;
        font-size: 14px;
        line-height: 17px;
        justify-self: center;
    }
}