.header__logo {
    max-width: 142.01px;
    height: 33.4px;
}

@media all and (max-width: 1279px) {
    .header__logo {
        max-width: 103.74px;
        height: 24.4px;
        padding-left: 27px;
    }
}