.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 66px;
}


@media all and (max-width: 1279px) {
    .content {
        margin-bottom: 48px;
    }
}