.profile__name {
    grid-area: profile__name;
    align-self: end;
    margin: 0 0 0 30px;
    padding: 0;
    min-width: 295px;
    line-height: 56px;
    font-weight: 500;
    font-size: 42px;
    color: #fff;
}


@media all and (max-width: 320px) {
    .profile__name {
        min-width: 201px;
        font-size: 27px;
        justify-self: center;
    }
}