.popup__close-button {
    position: absolute;
    left: 845px;
    top: 173px;
    height: 40.7px;
    margin-top: -10px;
    
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
  }
  
.popup__close-button:focus {
    outline-color: #000;
  }


@media all and (max-width: 320px) {
    .popup__close-button {
        position: absolute;
        left: 287px;
        top: 100px;
        height: 26px;
        width: 26px;
        margin-top: -10px;   
    }
}