.popup__profile-name {
    border: 0;
    height: 27.34px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: transparent;
    margin-bottom: 29.74px;
    font-size: 14px;
}