.profile__info {
    grid-area: profile__about;
    margin: 9px 0 0 30px;
    padding: 0;
    line-height: 22px;
    font-size: 18px;
    color: #fff;
}

@media all and (max-width: 900px) {
    .profile__info {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        justify-self: right;
    }
}